* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jersey 10", sans-serif;
  user-select: none;
  -webkit-user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background-color: #000;
}

.console {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  border: 5px solid black;
  border-radius: 20px;
  padding: 50px 10px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: #332c50;
}

.jogo {
  position: relative;
  border: 10px solid black;
  overflow: hidden;
  background-color: #0f0f0f;
}

.jogo-inicio {
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;
  background-color: #202020;
  color: #fff;
}

.jogo-inicio h1 {
  text-align: center;
  font-size: 100px;
}

.jogo-inicio > div {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 60px;
  color: #00aa00;
  animation: float 2s ease-in-out infinite;
}

.jogo-inicio .opcao-enter {
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-left: 4px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.jogo-mapa {
  position: absolute;
  top: 0;
  left: 0;
  width: 1400px;
  height: 1000px;
}

.jogo-mapa > img:first-child {
  width: 1400px;
  height: 1000px;
  filter: brightness(90%);
}

.jogo-lugares {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  place-items: center;
}

.jogo-lugares img {
  width: 40%;
  object-fit: contain;
}

.jogo-fog {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: radial-gradient(circle at 50% 50%, transparent 25%, #0f0f0f 50%);
}

.jogo-jogador {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
}

.jogo-lugar {
  position: absolute;
  width: 150px;
  height: 150px;
}

.jogo-descricao {
  z-index: 10;
  position: absolute;
  inset: auto 10px 10px 10px;
  border: 5px solid #fff;
  padding: 10px 20px;
  height: 30%;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 40px;
}

.jogo-descricao p {
  animation: autoscroll 12.5s linear infinite;
}

.jogo-descricao span {
  color: #00aa00;
}

@keyframes autoscroll {
  0%,
  10% {
    /* Start at the top */
    transform: translateY(0%);
  }
  80%,
  100% {
    /* Scroll to the bottom (or top for reverse) */
    transform: translateY(-50%);
  }
}

.jogo-ordem {
  display: grid;
  grid-template-rows: 1fr 20%;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: absolute;
  inset: 10% 20% 60% 20%;
  z-index: 10;
  border: 5px solid #fff;
  padding: 0 10px 20px;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.jogo-ordem p {
  grid-area: 1 / 1 / 1 / span 2;
  text-align: center;
  font-size: 40px;
}

.jogo-ordem > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 40px;
}

.opcao-enter,
.opcao-shift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.opcao-enter {
  background-color: #00aa00;
}

.opcao-shift {
  background-color: #ff0000;
}

.controle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controle-movimento {
  display: grid;
  grid-template-rows: 1fr 25% 1fr;
  grid-template-columns: 1fr 25% 1fr;
  width: 90%;
  aspect-ratio: 1 / 1; /* Sets a 1:1 aspect ratio (height equals width) */
}

.controle-movimento div {
  border: 5px solid black;
  background-color: #c0c0c0;
  box-shadow: 0px 0px 5px #000;
  cursor: pointer;
}

.controle-w {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 2;
}

.controle-a {
  grid-row-start: 2;
  grid-column-start: 1;
}

.controle-s {
  grid-row-start: 3;
  grid-column-start: 2;
}

.controle-d {
  grid-row-start: 2;
  grid-column-start: 3;
}

.controle-acao {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  aspect-ratio: 1 / 1; /* Sets a 1:1 aspect ratio (height equals width) */
}

.controle-acao div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px #000;
  font-size: 64px;
  font-weight: bold;
  cursor: pointer;
}

.controle-enter {
  grid-row: 1;
  grid-column: 2;
  background-color: #00aa00;
}

.controle-shift {
  grid-row: 2;
  grid-column: 1;
  background-color: #ff0000;
}

.controle-pressionado {
  transform: scale(0.9);
  filter: brightness(0.7);
}

@media (max-width: 1024px) {
  .console {
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }

  .jogo {
    grid-row: 1;
    grid-column: 1 / span 2;
  }

  .controle {
    margin: auto;
    width: 55%;
  }
}

@media (max-width: 768px) {
  .controle {
    margin: auto;
    width: 70%;
  }
}

@media (max-width: 640px) {
  .controle {
    margin: auto;
    width: 90%;
    gap: 0;
  }

  .controle-movimento {
    grid-template-rows: 1fr 30% 1fr;
    grid-template-columns: 1fr 30% 1fr;
  }
}

.escondido {
  display: none;
}
